<nav class="navbar navbar-expand-lg" style="background-color: #b2d5ee;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'warehouse/ '"><span class="color-orange">Warehouse</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'login-panel'" ><span class="color-orange">LogIn Panel</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'analytics'"><span class="color-orange">Analytics</span></a>
      </li>
    </ul>
  </div>
</nav>



