<div class="d-flex justify-content-around container" >
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://tsm-static.sdn.si/oglasi/5360153000/predstavitev-podjetja.jpg">
    <div class="card-body">
      <h5 class="card-title">Stegne 9A</h5>
      <Div class="d-flex justify-content-around">
        <a class="btn btn-warning"  routerLink="9a-n1">1. Nadstropje</a>
        <a class="btn btn-warning" routerLink="9a-n2">2. Nadstropje</a>
      </Div>


    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://odpiralnicasi.com/photos/069/069/salon_februar_prva-12-big.jpg">
    <div class="card-body">
      <h5 class="card-title">Stegne 11C</h5>
      <Div class="d-flex justify-content-around ">
        <a  class="btn btn-warning" value="1-2"  routerLink="11c-n1">1. Nadstropje</a>
        <a  class="btn btn-warning" routerLink="11c-n2">2. Nadstropje</a>
      </Div>
    </div>
  </div>
</div>
